QPushButton{
    border-radius: 10px;
    border: 1px solid #4d4d4d;
}
QPushButton#DoneButton {
    background-color: #0b9667;
}
QPushButton#DoneButton:hover{
    background-color: #028a24
}
QPushButton#toDoButton {
    background-color: #093eaf;
}
QPushButton#toDoButton:hover{
    background-color: #0c4acf
}
QPushButton#inProgressButton {
    background-color: #b6b909;
}
QPushButton#inProgressButton:hover{
    background-color: #dfe20d
}
QPushButton#deleteTskButton {
    background-color: #f03a3a;
}
QPushButton#deleteTskButton:hover{
    background-color: #f35050
}
QPushButton#clearButton {
    background-color: #f03a3a;
}
QPushButton#clearButton:hover{
    background-color: #f35050
}
QListWidget#toDoLabel {
    border: 1px solid #093eaf;
    background-color: #b1c7f7;
}

QListWidget#inProgressLabel {
    border: 1px solid #b6b909;
    background-color: #f5f7b1;
}
QListWidget#doneLabel {
    border: 1px solid #0b9667;
    background-color: #9df7d9;
}
QListWidget#historyTasks_2 {
    border: 1px solid #093eaf;
    background-color: #cbd9f7;
}
/* QComboBox#fromCurrencyBox {
    background-color: #b6b909;
} */

QLineEdit#from_value {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ffffff;
    background-color: #78d7b7;
}
QLineEdit#to_value {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ffffff;
    background-color: #78d7b7;
}
/* QComboBox#from_currency {
    background-color: #78d7b7;

}
QComboBox#to_currency {
    background-color: #78d7b7;
} */


QFrame#frameTop {
    background-color: #78d7b7;
}
QFrame#frameButtom {
    background-color: #c2ecd6;
}

QPushButton{
    border: none;
    color: #05a7a9;
}
QPushButton:hover {
    background-color: #95f7c4;
}
QPushButton#button_c{
    color: #f43e54;
}
QPushButton#convert_btn{
    border: none;
    color: #05a7a9;
    background-image: url(./images/Untitled-1.png);
    background-position: center center;
    background-repeat: no-repeat;
}
QPushButton:hover {
    background-color: #78d7b7;
}